body{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	color: #000;
	background-color: #fff;
	padding: 0px;
	font-size: 18px;
	/* #fff #2f3950 #db4c3f #fff */
	font-weight: 500;
}

header{
	background-color: #191919;
	color: black;
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: auto;
   	z-index: 999;
}

.ul-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 14px 0px;
	margin: 0px 7em 0px 7em;
}

.ul-title a{
	color: #fff;
	text-decoration: none;
}

.ul-title a:hover{
	background-color: #db4c3f;
	transition: 0.25s;
	padding-top: 1em;
	padding-bottom: 1em;
}

.content{
	margin-top: 100px;
}

.list{
	margin-left: 3em; 
	margin-bottom: 1em;
}

.information{
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	/*align-items: center;*/
	flex-direction: column;
	padding: 1em;
	margin: 1em;
	background-color: #db4c3f;
}

.data{
	display: flex;
	margin-top: 5px;
}

.data:hover{
	background-color: #fff;
}

.data > .help{
	margin-left: 10em;
}


.stat-of-visiting{
	height: 100px;
	padding: 2em 3em;
	background-color: gray;
	border-radius: 15px;
}

.wrapper{
	padding: 30px 0px;
}

.wrapper > .wrapper-lessons, .wrapper-groups{
	/* display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%; 
	margin-top: 2em; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2em; 
}

.wrapper > .wrapper-button > button{
	padding: 10px 5px;
	/*background-color: #1dcfba;*/
	background-color: #db4c3f;
	color: #fff;
	margin-left: 1.5em;
	margin-bottom: 1em;
	margin-right: 1.5em;
	outline: none;
	border-radius: 2px;
	border: none;
	opacity: 0.85;
}

.wrapper > .wrapper-button > button:hover{
	background-color: #191919;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	transition: 0.35s;
	opacity: 1;
}

.wrapper hr{
	margin-bottom: 2em;
	border: 1px solid #fff;
}

.table{
	margin: 5% 4%;
}

.groups_name{
	padding: 1em;
	border-radius: 4px;
	background: #db4c3f;
	font-weight: bold;
	color: #000;
	height: auto;
	text-transform: uppercase;
}

.students{
	margin-top: 1em;
	font-weight: 400;
	padding: 1em; 
	color: #000;
	background: #fff;
	height: auto;
	border-radius: 5px;
	white-space: pre-line;
}
.lessons{
	margin-top: 80px;
	margin-left: 20px;
	width: 100%;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}









/*under ground*/

.underground{
	/* margin-top: 5em;
	padding: 2em;
	vertical-align:bottom;
	float: bottom;
	background-color: #191919;
	color: #fff; */
	display: flex;
	flex-direction: column;
	width: auto;
	padding: 2em;
	background-color: #191919;
	color: #fff;
	overflow: hidden;
}
.underground-menu{
	display: flex;
	justify-content: space-between;
}
.list{
	margin:0;
	width: 200px;
	overflow: hidden;
}

.underground a{
		color: #fff;
	text-decoration: none;
	font-size: 15px; 
}

.underground a li{
		color: #fff;
	font-size: 18px;
}

.underground a b{
		color: #fff;
	font-size: 20px;
	color: #fff;
	cursor: default;
}

.underground a li:hover{
	text-decoration: underline;
	color: #db4c3f;
	transition: 0.3s linear;
}

.button{
	border-radius: 5px;
	height: 40px ;
	margin-right: 10px;
 color:#fff;
 background-color: rgba(206, 82, 78, 0.931);
 width: 250px;
}